/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  display: block;
}

/* layout */

.site-wrapper {
  display: flex;
  justify-content: center;
}

/* global styles */
body,
input,
button {
  font-size: 1.5rem;
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
}

/* components */

.content-wrapper {
  position: relative;
  transform-origin: top left;
}

.bubble {
  position: absolute;
  top: 22%;
  right: 27%;
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container {
  position: absolute;
  top: 50%;
  right: 24%;
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.form-container-hidden {
  display: none;
}

input {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

#button {
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(234, 196, 45);
}

.playAgainButton {
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(234, 196, 45);
  position: absolute;
  top: 58%;
  right: 43%;
  display: none;
}

.playAgainButton-show {
  display: block;
}

#face {
  font-size: 4rem;
  position: absolute;
  top: 30%;
  left: 14%;
  color: rgb(68, 60, 43);
}

.face-animated {
  animation: tada 1s;
}
